body{
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
}

.dashboard{
    min-height: 100vh;
}

.navbar-custom{
    background-color: #4b0082;
}

.form-card,
.student-card,
.stats-card{
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.student-card{
    transition: 0.3s;
}

.student-card:hover{
    transform: translateY(-5px);
}

.btn-custom{
    background-color: #4b0082;
    color: white;
    border: none;
}

.btn-custom:hover{
    background-color: #5e17eb;
    color: white;
}

.title{
    font-weight: bold;
}

.input-group{
    margin-bottom: 15px;
}
.bg-primary{
  background:linear-gradient(90deg, #4b0082, #6a0dad)!important;
}
.navbar{
  min-height: 70px;
 
}
.card {
  border: none;
  border-radius: 20px;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.btn {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
}

.student-card {
  transition: 0.3s;
}
body {
  background: linear-gradient(
    135deg,
    #f3f4ff 0%,
    #eef2ff 100%
  );
}

.stats-card {
  background: linear-gradient(
    135deg,
    #6f42c1,
    #8a63d2
  );
  color: white;
}

.stats-card h2,
.stats-card h5 {
  color: white;
}