*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    background-color:#f5f7fb;
    font-family:'Poppins',sans-serif;
}

/* Root */

#root{
    min-height:100vh;
}

/* Links */

a{
    text-decoration:none;
    color:inherit;
}

/* Images */

img{
    max-width:100%;
    display:block;
}